<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%- include('../partials/head.ejs', { data: { title: 'Climate' }}) %>
</head>

<body>

  <div class="wrapper">

    <%- include('../partials/header.ejs', { data: { state: 'issues' }}) %>

    <section class="bg-faded py-5" style="min-height: 400px;">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-10 offset-md-1">
            <div class="card p-4">
              <div class="card-block">

                <div class="what-top meet text-center">
                  <div class="section-title">
                    <h1 class="title-font">Climate Change</h1>
                    <div class="what-icon">
                      <i class="fa fa-cloud" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>

                <div class="loader" component-loading></div>
                <component content class="py-2"></component>
              </div>
            </div>

          </div>
        </div>

        <style>
          [component] ul {
            list-style: inherit;
            margin: inherit;
            padding: 0 0 10px 40px;
          }
        </style>
      </div>
    </section>

    <%- include('../partials/footer.ejs') %>
  </div>



  <%- include('../partials/scripts.ejs') %>

</body>

</html>
