<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%- include('partials/head.ejs', { data: { title: 'How You Can Help' }}) %>
</head>

<body>

  <div class="wrapper">

    <%- include('partials/header.ejs', { data: { state: 'help' }}) %>

    <section class="bg-faded py-5" style="min-height: 400px;">
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div class="card py-4">
              <div class="card-block">

                <div class="what-top meet text-center">
                  <div class="section-title">
                    <h1 class="title-font">Join the Team</h1>
                    <div class="what-icon">
                      <i class="fa fa-heart" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>

                <component key=erood load=b></component>

              </div>
            </div>
          </div>
        </div>


      </div>
    </section>

    <%- include('partials/footer.ejs') %>
  </div>

  <%- include('partials/scripts.ejs') %>

</body>

</html>
