<footer id="footer" class="social-area">
  <div class="container">
    <div class="footer-top">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="social-logo">
            <a href="/">
              <img src="img/logo/logo2.png" alt="Fight for a Better America logo" style="width: 50px; height: 50px;">
            </a>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="social-icon floatright">
            <ul>
              <li><a class="facebook" href="https://facebook.com/fightbetter" target="_blank"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="https://twitter.com/fightforbetter" target="_blank"><i class="fa fa-twitter"></i></a></li>
              <li><a class="instagram" href="https://medium.com/fight-for-better" target="_blank"><i class="fa fa-medium"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-middle">
    <div class="container py-5">
      <h3 class="text-white">About us</h3>
      <p class="text-white mb-0">
        Paid for by Fight for a Better America.
        <br>
        Not authorized by any candidate or candidate’s committee. www.fightforbetter.org
        <br>
        Contributions or gifts to Fight for a Better America are not tax deductible as charitable contributions.
      </p>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container py-2">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="footer-menu">
            <ul>
              <li><a class="ml-0" href="/issues">Issues</a></li>
              <li><a href="/resources">Resources</a></li>
              <li><a href="/contact">Contact</a></li>
              <li><a href="/">Take Action</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div class="copyright-text floatright">
            <p>&copy;&nbsp;2017 Fight for a Better America</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<div id="toTop">
  <i class="fa fa-chevron-up"></i>
</div>
