<% if (!data) { var data = {} } %>
<title><%= data.title ? (data.title + ' | ') : '' %>Fight for a Better America</title>
<meta name="description" content="<%= data.description %>">

<link rel="shortcut icon" type="image/x-icon" href="img/fav16.png">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- <link rel="stylesheet" href="css/meanmenu.min.css"> -->
<!-- <link rel="stylesheet" href="css/normalize.css"> -->
<!-- <link rel="stylesheet" href="css/main.css"> -->
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/custom.css">
<link rel="stylesheet" href="/css/responsive.css">
